# Copy this file to "secret.conf" and use it to store the secret values.
# The real secret.conf should not be checked into source control for security reasons.

# Secret key
# ~~~~~
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
application.secret=""

# Stripe keys
store.stripe.publishable_key = ""
store.stripe.secret_key = ""