#! /bin/sh
# Copy this file to "secret.conf" and use it to store the secret values.
# The real secret.conf should not be checked into source control for security reasons.
# These variables are set by environment variables so that they can
# be set on platforms like Heroku. You must run this script in your `sh` shell
# before running the application, or the equivalent in Windows shell.

# the application.secret
PLAY2STORE_APPLICATION_SECRET="my_secret_key"; export PLAY2STORE_APPLICATION_SECRET

# the store.stripe.publishable_key
PLAY2STORE_STRIPE_PUBLISHABLE_KEY="my_stripe_public_key"; export PLAY2STORE_STRIPE_PUBLISHABLE_KEY

# the store.stripe.secret_key
PLAY2STORE_STRIPE_SECRET_KEY="my_stripe_secret_key"; export PLAY2STORE_STRIPE_SECRET_KEY