@(productsByCategory: Map[Category, List[Product]])

@main("Play 2 Store") {

    <hgroup>
        <h1>Play 2 Store</h1>
        <h2>A demonstration project – building an e-commerce site using Play! 2.0, Twitter Bootstrap, and Stripe</h2>
    </hgroup>

    <p>Welcome to the store! Here’s a list of all the products currently available:</p>

    <ul class="categories-columns">
        @for(categoryWithProducts <- productsByCategory.entrySet) {
            <li class="category-column">
                <h2>@categoryWithProducts.getKey().name</h2>

                <ul class="products-entries">
                @* There will never be a category without products provided. *@
                @for(product <- categoryWithProducts.getValue()) {
                    <li class="product-entry">
                        <h3>@product.name</h3>

                        <p>@product.description</p>
                    </li>

                }
                </ul>
            </li>
        }
    </ul>
    
}